/* Estilos para o elemento <body> */
body {
    font-family: Verdana, sans-serif;
    background-color: #DBA579;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* Estilos para o cabeçalho <h1> */
h1 {
    color: #8c175d;
    font-size: 24px;
    text-align: center;
}

/* Estilos para o elemento <address> */
address {
    margin-bottom: 20px;
    text-align: left;
}

/* Estilos para o elemento <p> */
p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

/* Estilos para o elemento <div> */
div {
    background-color: #8F5C32;
    color: #ffe1d6;
    padding: 10px;
    border: 1px solid #0d051d;
    text-align: center;
}

/* Estilos para o ele   mento <span> */
span {
    color: #a530af;
    text-align: left;
}

/* Estilos para as listas <ul> e <ol> */
ul, ol {
    list-style-type: disc;
    margin-left: 20px;
    text-align: left;
}

/* Estilos para o elemento <menu> */
menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #40838F;
    border: 1px solid #740000;
    padding: 10px;
    text-align: center;
}

/* Estilos para os itens de lista dentro de <menu> */
menu li {
    margin: 5px 0;
    text-align: center;
}
