body {
    background-color: aliceblue;
   }
   .titulo{
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: center;
   }
   
   .introducaocabecalho{
       font-size: medium;
       text-align: center;
   }
   
   .email{
       font-family: Verdana, Geneva, Tahoma, sans-serif;
       forced-color-adjust: #ffbbbb;
       font-style: normal;
       text-align: center;
   }
   
   .linha-preta{ 
       border-color: black;
   }
   