body {
 background-color: aliceblue;
}
.titulo{
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: center;
}

.introducaocabecalho{
    font-size: medium;
    text-align: center;
}
.cabecalho {
    background-color:aliceblue;
}
.email{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    forced-color-adjust: #ffbbbb;
    font-style: normal;
    text-align: center;
}

.linha-preta{ 
    border-color: black;
    margin-bottom: 20px;
    margin-top: 40px;
}
.linha-clara{ 
    border-color: black;
    margin-bottom: 50px;
    margin-top: 20px;
}
.botoes{
    text-align: center;
}
.botoes a {
    text-align: center;
    display: inline-block;
    margin: 10px;
    padding: 10px 60px; /* Aumente o padding para tornar os botões maiores */
    background-color: #2f8383; /* Cor de fundo dos botões */
    color: #fff; /* Cor do texto dos botões */
    border-radius: 7px;
    cursor: pointer;
    font-size: 18px; /* Tamanho da fonte dos botões */
    outline: 2px solid #bfd1cb;
}
.foto-trabalho{ 
    width: 800px;
    height: 570px;
    float: left;
    margin-left: 40px;
}

.foto-reunidos{
    opacity: 80%;
    width: 250px;
    height: 150px;
}
.foto-prog{
    opacity: 80%;
    width: 250px;
    height: 150px;
}
.foto-meeting{
    opacity: 80%;
    width: 250px;
    height: 150px;
}
.foto-comp{
    opacity: 80%;
    width: 250px;
    height: 150px;
}
.coluna-inicio{ 
    padding: 20px;
    width: 25%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgb(112, 176, 178);
    border-radius: 7px;
    flex: 1;
    text-align: center;
    float: right;
    margin-right: 40px;

}

.embaixo-foto-principal {
    clear: both;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 40px;
}